*{
    margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;
}
body{
    background: lightblue;
}
#container{
    width: 1100px; 
    min-height: 500px; 
    margin: 0 auto;
    background: #fff;
}
#headerSection{
    width: 100%; 
    display: block;
    padding: 10px; 
    background: rgb(255, 235, 235); 
}
#inserSection{
    width: 100%; display: flex;
    justify-content: space-between;
    margin: auto; 
    padding-top: 10px;
    align-items: center;
}
/* #inserSection div{
    width: 30%;
    display: flex; 
    justify-content: center;
    align-items: center;
} */
#inserSection div input[type="text"], 
#inserSection div input[type="number"]
{
    width: 75%;
    display: inline-block;
}
#shower{
    width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;
    position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.747); z-index: 11;
    
}
body{
    position: relative;
}
.alert{
    position: absolute; 
    top: 20px; 
    right: 20px;
    width: 300px;
}
#alert-closer{
    position: absolute; 
    right: 10px; color: red; font-weight: bolder;
    cursor: pointer;
}
.fa-search{
    cursor: pointer;
     font-size: 25px !important;
     background: black; padding: 5px; 
     border-radius: 5px;
     color: white;
}
.fa-search:hover{
     color: pink; 
}
